.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
}

.container {
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  height: 250px;
  width: 300px;
  border: 5px solid rgba(61, 9, 98, 0.85);
  background-color: rgb(212, 222, 25);
}

.btn1 {
  background-color: rgb(243, 236, 236) ;
  margin: 1px;
}

.btn2 {
  background-color: rgba(188, 178, 186, 0.682) ;
  margin: 1px;
}